@import '../app.scss';

.footer-class {
  position: relative;
  width: 100%;
  min-height: 40vh;
  background-color: $gray-400;
  display: flex;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  align-items: flex-start;
  justify-content: space-around;
  a {
    color: inherit;
  }
  z-index: 10;
}

.divider {
  width: 1px;
  height: 100px;
  background-color: black;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 20vw;
  font-size: small;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.footer-center-section {
  font-size: small;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

@include media-breakpoint-down(md) {
  .footer-class {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 80vw;
  }
  .divider {
    width: 50%;
    height: 1px;
    margin: 5vh;
  }
}
