@import '../app.scss';

.header-class {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  margin-left: 2rem;
}

.header-link {
  padding-bottom: 0.25rem;
  color: white;
  margin-right: 2rem;
  border-bottom: 3px solid transparent;
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 3px solid $secondary;
    color: white;
  }
}
