@import '../app.scss';

.header-class {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  z-index: 15;
  transition: 0.3s;
}

.scroll-up {
  height: 90px !important;
  background-color: rgba(black, 0.7) !important;
  transition: 0.3s;
  &:hover {
    background-color: black;
  }
}

.scroll-down {
  height: 90px !important;
  height: 0px !important;
  opacity: 0;
  transition: 0.3s;
}

.header-logo {
  margin-left: 2rem;
}

.logo-image {
  width: 70px;
}

.header-link {
  padding-bottom: 0.25rem;
  color: white;
  margin-right: 2rem;
  border-bottom: 3px solid transparent;
  &:link {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    transition: 0.2s;
    border-bottom: 3px solid $secondary;
    color: white;
  }
}
